nav {
    border: solid pink 3px;
    float: left;
    width: 100px;
}

section {
    border: solid yellow 3px;
    float: right;
    left: 106px;
    padding: 10px;
    width: 1218px;
    
}

footer {
    border: solid green 3px;
    float: none;
    display: inline-block;
    width: 1345px;
}