#Lista{
    font-family: 'Srisakdi', cursive;
}
#Lista li a{
    color:red;
}

.Test{
    border: 1px solid black ;
}
.C1{
    color: green;
}
.Test .C2{
    color: #C55;
}
.Chow1 img{
    width: 150px; height: 150px;
}
.Chow1 figcaption{
    font: italic; text-decoration: underline; color: rebeccapurple;
}
