body{
    background-color: blueviolet; 
}  
form{
    background-color: yellow; text-align: center; height: 470px; width: 200px;
}
input[type=text]:focus{
    background-color: #00ffff;
}
input[type=number]{
    background-color: red;
}
input[type=submit]:hover{
    color: rgb(51, 12, 102);
}
input[type=reset]:hover{
    color: rgb(129, 177, 17);
}
input[type=text]{
    border: ridge blue;
}